jupyterlab
pandas
matplotlib 
pandas 
sympy 
nose 
hiddenlayer 
graphviz 
seaborn 
scikit-learn 
statsmodels 
gdown 
onnxruntime 
docplex 
cplex 
ipykernel 
ipywidgets 
widgetsnbextension 
pandas-profiling 
jupyter 
pydot 
flwr
flwr[simulations]
wandb
transformers
lorem
pyglet
multipledispatch
mlxtend
scikit-image
gym
pygame
pylint
h5py
ipykernel
networkx
plotly
wget
black
tensorflow_datasets 
tensorflow_hub 
tensorflow_text 
tf2onnx 
keras-nlp 
tensorflow_text
torch 
torchinfo 
torchvision 
torchaudio --extra-index-url https://download.pytorch.org/whl/cu116 
stable-baselines3
thop 
torchmetrics 
pfrl 
dm-control 
