jupyterlab
pandas
matplotlib 
pandas 
sympy 
nose 
hiddenlayer 
graphviz 
seaborn 
scikit-learn 
statsmodels 
gdown 
onnxruntime 
docplex 
cplex 
ipykernel 
ipywidgets 
widgetsnbextension 
pandas-profiling 
jupyter 
pydot 
flwr 
wandb
transformers
tensorflow_datasets 
tensorflow_hub 
tensorflow_text 
tf2onnx 
keras-nlp 
tensorflow_text
torch 
torchinfo 
torchvision 
torchaudio --extra-index-url https://download.pytorch.org/whl/cu113 
pytorch-lightning 
lightning-bolts